<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953759627144-hlqphcsvdc6phcmti2c2uaomat3i6if5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953759627144-hlqphcsvdc6phcmti2c2uaomat3i6if5</string>
	<key>API_KEY</key>
	<string>AIzaSyBc5qqGiO9hmzW_kr1a_6ZeQyGqq-rejF4</string>
	<key>GCM_SENDER_ID</key>
	<string>953759627144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.bitbybit.mobile</string>
	<key>PROJECT_ID</key>
	<string>atbash-f0b75</string>
	<key>STORAGE_BUCKET</key>
	<string>atbash-f0b75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953759627144:ios:9455cee04b007f03172c3d</string>
</dict>
</plist>