<div class="title-bar d-flex flex-row justify-content-start align-items-center p-2">

  <div *ngIf="shouldShowBackArrow">
    <button class="btn" (click)="backPressed()"><img src="assets/arrow_back_black_24dp.svg" alt="Back"></button>
  </div>

  <div>
    <img [src]="profileImage" alt="Profile Image" class="profile-image">
  </div>

  <div class="mx-2 flex-grow-1">
    <span class="display-name my-0">{{displayName}}</span>
  </div>

  <div>
    <button class="btn" (click)="startNewChat()"><img src="assets/chat_black_24dp.svg" alt="New Chat"></button>
    <button class="btn"><img src="assets/more_vert_black_24dp.svg" alt="More Options"></button>
  </div>

</div>
