<div class="w-100 mw-75" [class.text-end]="!message?.isIncoming">
  <div class="message-card" [class.message-incoming]="message?.isIncoming"
       [class.message-outgoing]="!message?.isIncoming">
    <img *ngIf="isMediaMessage else notMedia" [src]="mediaContents" alt="Image media" height="400" class="message-media" (click)="enlargeImage()">
    <ng-template #notMedia>
      <span [class.fst-italic]="message?.deleted == true">
        {{messageContents}}
      </span>
    </ng-template>
    <div class="text-end message-timestamp">
      {{messageTimestamp | date:"HH:mm"}}
    </div>
  </div>
</div>
